<div class="container app-key-update">
    <div class="bg-primary p-2 text-white bg-warning text-dark">
        <h5>Alterar Categoria</h5>
    </div>
    <form (ngSubmit)="save()" #keyForm="ngForm">
        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" name="name" id="name" [(ngModel)]="key.key" #name="ngModel" />
        </div>
        <button type="submit" class="btn btn-primary m-1 btn-warning">
            Salvar
        </button>
        <button type="reset" class="btn btn-secondary" routerLink="/key">
            Cancelar
        </button>
    </form>
</div>
