<div class="container app-category-read">

    <button class="btn btn-success" (click)="navigateToProductCreate()">
    Nova Categoria
  </button>



    <div class="mt-3">
        <table class="table table-bordered table-striped p-2">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="text-right">Descrição</th>
                    <th>Caminho</th>
                    <th class="col-md-1">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="categories.length == 0">
                    <td colspan="4" class="text-center">
                        Lista de Categoria Vazia!
                    </td>
                </tr>
                <tr *ngFor="let category of categories">
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>{{category.path}}</td>
                    <td class="text-center">
                        <a [routerLink]="['/category/edit']"><i class="fas fa-edit edit"></i></a>
                        <a (click)="delete(category)"><i class="fas fa-trash delete"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>

        <nav aria-label="Page navigation example">
            <div class="row">
                <div class="col-md-2">
                    <select class="form-control" [value]="quantityPerPage" (change)="onChangeSize($event.target)">
            <option value="3">3 por Página</option>
            <option value="4">4 por Página</option>
            <option value="6">6 por Página</option>
            <option value="8">8 por Página</option>
          </select>
                </div>
                <div class="col-md-2">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" (click)="groupPrior()">Anterior</a></li>
                        <li *ngFor="let page of group" class="page-item" [class.active]="page == selectedPage"><a class="page-link" (click)="changePage(page)">{{page}}</a></li>
                        <li class="page-item"><a class="page-link" (click)="groupNext()">Próxima</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>