table {
    width: 100%;
}

li.page-item {
    cursor: pointer;
}

.edit {
    margin-right: 10px;
    cursor: pointer;
    color: #d9cd26;
}

.delete {
    color: #e35e6b;
}

.app-category-read {
    padding-bottom: 60px;
}