<div class="container app-url-update">
    <div class="bg-primary p-2 text-white bg-warning text-dark">
        <h5>Alterar Url</h5>
    </div>
    <form (ngSubmit)="save()" #urlForm="ngForm">
        <div class="form-group">
            <label>Url</label>
            <input class="form-control" name="url" id="url" [(ngModel)]="url.url" #name="ngModel" />
        </div>
        <button type="submit" class="btn btn-primary m-1 btn-warning">
            Salvar
        </button>
        <button type="reset" class="btn btn-secondary" routerLink="/url">
            Cancelar
        </button>
    </form>
</div>