<h2 class="text-center">Entrar</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="mb-3">
        <label>E-mail</label>
        <input class="form-control" type="email" name="email" id="email" [(ngModel)]="login.email" required />
        <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input class="form-control" type="password" name="senha" id="senha" [(ngModel)]="login.password" required />
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
        <button type="button" class="btn btn-link btn-block" [routerLink]="['/create-account']">Criar conta</button>
    </div>
</form>