<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Não Encontrada</h2>
                <div class="error-details">
                    Desculpe, ocorreu um erro, página solicitada não encontrada!
                    <a class="navbar-brand" routerLink="/">Voltar para Curupira21</a>
                </div>
            </div>
        </div>
    </div>
</div>